[submodule "src/lib/keycode/depp-keycode"]
	path = src/lib/keycode/depp-keycode
	url = https://github.com/depp/keycode
	branch = master
[submodule "src/lib/CLI11"]
	path = src/lib/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "src/lib/spdlog"]
	path = src/lib/spdlog
	url = https://github.com/gabime/spdlog.git
